* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,á¹…
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial;
}

a {
  text-decoration: none;
}
li {
	list-style: none;
}
.container {
  max-width: 2200px;
  margin: 0 auto;
 
}
.header-left h2{
	font-size: 36px;
	float: left;
	margin: 20px 40px;
	color: #fff;
	opacity: 0.9;
}
.header-left a{
	font-size: 30px;
	float: left;
	margin: 28px 40px;
	color: #fff;
	opacity: 0.9;

}
span{
	padding-left:5px;
}

header{
  height: 85px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-right p:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.6s;
 
}
.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.6s;
 }
.header-right p:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.6s;
 
}
.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.6s;
 }

.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url(https://pixabay.com/get/52e2d7414d50a414ea9d8578c42a3478133fc3e45659734b742c72d690/brainstorm-4222728.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 3px;
  font-size: 20px;
}
.lesson-wrapper {
  padding-bottom: 295px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
.footer{
	background-color: #008080;
	margin-top: 0px;
	padding-top: 0px;

}

.footer h2{
	float: left;
	color: #fff;
	padding: 20px 40px;
}

.footer li{
	
	text-align: right;
	padding: 4px 40px;
	color: #fff;
}


